@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html{
  font-size: 14px;
  background: #344855;
}

body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}

#seta{

  background: url("../img/arrow-down-sign-to-navigate.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    width: 30%; 


}


.container{
  position: relative;
  height: 100%;
  max-width: 960px;
  padding: 20px 20px;
  margin: 0 auto;
    
}

.menuScroll{
  height: 50px;
  border-bottom: 2px #C8D400 solid;
  transition: height .6s;
}

.menuScroll img{
  position: absolute;
  width: 30px;
  top: 9px;
}

.menuScroll ul{
  top: -9px;
}

nav{
  position: fixed;
  width: 100%;
  font-size: 14px;
  height: 180px;
  background-color: #344855;
  z-index: 999;
  transition: height .6s;
}

.language-selection {
  text-decoration: none; 
  color:#D5D8E8;

}

#language-selection.menuScroll {
  height: 0;
  border: none;
  opacity: 0;
  transition: opacity .3s, height .6s;
}

#language-selection li{
  margin: 10px;
  font-weight: 100;
  font-size: 12px;
  transition: font-size .2s ease-in-out;
}

#language-selection li:hover {
  border-bottom: solid 1px #D5D8E8;
  font-size: 20px;
  transition: font-size .2s ease-in-out;
}

#language-selection li a {
  line-height: 40px;
  text-decoration: none;
  color: #D5D8E8;
}

#language-selection li.selected {
  font-weight: 1000;
}

nav ul{
  position: relative;
  top: 25px;
  float: right;
  min-width: 60%;
  text-align: right;
}

nav ul li{
  display: inline;
  color: #D5D8E8;	
  font-family: Ubuntu;	
  font-size: 14px;	
  line-height: 29px;
  cursor: pointer;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
}

#caixa-p{
width: 110%;

}


#primeiro{
  display: inline-block;
  background: #344855;

}


#segundo{
  display: none;
  background: #344855;

}

#terceiro{
  display: none;
 background: #344855;

}

#menu{
  text-align: center;
  width: 30px; 
  
}


.hero{
  padding-top: 150px;
  background-color: #344855;
  color: #D5D8E8;
  height: 580px;
  border-bottom: 2px solid #C8D400;
}

.hero h1{
  text-indent: -9999px;
}

.hero h2{
  margin: 2% 0;
  font-weight: 800;
  font-size: 70px;
}

.hero p{
  font-family: 'Roboto', sans-serif;
  color: #D5D8E8;
  font-size: 22px;	
  line-height: 29px;
  width: 60%;
}

#astronauta-bg{
  position: absolute;
  max-width: 691px;
  right: -3%;
  bottom: -80px;
}

#predios-bg{
  position: absolute;
  max-width: 900px;
  left: 0;
  bottom: 50px;
}

.hero button + p{
  position: absolute;
  bottom: 7%;
  width: 61%;
  text-align: left;

}

#btn-hero{
  z-index: 99;
  position: absolute;
  margin-top: 20px;
}

button{
  margin: 2% 0;
  padding: 8px 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  color: rgba(66, 80, 95, 0.8);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #B2BC0A;
  box-shadow: inset 0 1px 0 1px rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
  background: #C8D400;
}

section{
  padding: 40px 0;
}

section.cards .container{
  padding: unset;
}

section.cards{
  padding: unset;
  background: white;
}

section.cards ul{
  text-align: center;
}

section.cards li{
  box-sizing: border-box;
  transform: translateY(-20%);
  height: 360px;
  width: 300px;
  margin: 10px 5px;
  padding: 20px;
  border-radius: 5px;
  color:#9B9B9B;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
  cursor: pointer;
}

.section.cards h3 {
	color: #9B9B9B;
	font-family: Ubuntu;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	text-align: center;
}

section.cards ul p{
  color: #9DA6B0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

section.cards li h3{
  margin: 20px;
  font-weight: 800;
  font-size: 18px;
}
/* 
#card-geo h3::before{
  content: "";
  background-image: url('../img/icon-geo.png');
  background-repeat: no-repeat;
  display: block;
  height: 86px;
  width: 81px;
  margin: 0 auto;
  margin-bottom: 30px;
} */

#card-insights h3::before{
  content: "";
  background-image: url('../img/icon-insights.png');
  background-repeat: no-repeat;
  display: block;
  height: 86px;
  width: 117px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#card-ativacao span{
  visibility: hidden;
}

#card-ativacao h3::before{
  content: "";
  background-image: url('../img/icon-push.png');
  background-repeat: no-repeat;
  display: block;
  height: 86px;
  width: 67px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#card-metrics h3::before{
  content: "";
  background-image: url('../img/icon-metrics.svg');
  background-repeat: no-repeat;
  display: block;
  height: 86px;
  width: 85px;
  margin: 0 auto;
  margin-bottom: 30px;
}

section.cards .wrapper-content {
  position: relative;
  bottom: -2px;
}

section.cards .wrapper-content p{
  color: #9184BE;	
  font-family: Roboto;	
  font-size: 26px;	
  line-height: 36px;
  margin-top: 40px;
  width: 50%;
  float: right;
  text-align: left;
}

section.more-infos{
  background-color: #42505F;
}

section.more-infos .macImgUm{
  float: left;
  margin-bottom: 80px;
}

section.more-infos .macImgDois{
  float: left;
  margin-bottom: 80px;
}

section.more-infos .txtTop {
  color: #F0F0F0;	
  font-family: Ubuntu;	
  font-size: 22px;	
  line-height: 26px;	
  text-align: center;
  margin-bottom: 80px;
}

#txtTop2{
  
  margin-top: 18%;
    font-size: 1.3em;
    text-align: left;
}

section.more-infos > h3 > p:first-child{
  font-weight: 800;
}

section.more-infos p {
	color: #D5D8E8;
	font-family: Roboto;
	font-size: 16px;
  line-height: 19px;
  margin: 20px 0;
}

section.more-infos h3{
  color: #9DA6B0;	
  font-family: Ubuntu;	
  font-size: 46px;	
  font-weight: bold;	
  line-height: 36px;
  padding: 50px;
  margin-left: 15%;
 
}

section.more-infos .wrapper-content{
  position: relative;
}

section.more-infos .wrapper-content .pEspecial{
  font-weight: 800;
  margin: unset;
}

section.more-infos .wrapper-content .pEspecial:after{
  content: "";
  display: inherit;
  width: 200px;
  border: #C8D400 1px solid;
  margin-top: 10px; 
}

section.more-infos .wrapper-img{
  display: inline-block;
  width: 30%;
  text-align: center;
}

section.more-infos .wrapper-img img{
  position: absolute;
  top: 0;
}

section.more-infos .wrapper-text{
  display: inline-block;
  width: 59%;
  padding-left: 10%;
  border-left: 2px solid #344855;
}

section.more-infos .wrapper-text p{
  margin-bottom: 40px;
}

section.contact{
  padding: unset;
  padding-top: 40px;
  background-color: #344855;
}

.form-wrapper{
  margin: 0 auto;
  max-width: 450px;
}

h4{
  font-weight: 800;
  font-size: 1.4rem;
  color: #9DA6B0;
  text-align: center;
}

footer{
  padding-bottom: 40px; 
  text-align: center;
  background-color: #F2F3F4;
  padding: 10px;
}

footer p :first-child{
  font-weight: 800;
}

footer p {
  color: #9B9B9B;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

footer img{
  width: 12%;
  margin: 26px 0;
  max-width: 200px;
  cursor: pointer;
}

.video-wrapper{  
  text-align: center;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

iframe{
  width: 100%;
  height: 100%;
}


#macImgDois2{
  padding-right: 5%;
}


@media (max-width: 949px){
  html{
    font-size: 14px;
    overflow-x: hidden;
  }

  p{
    width: 100% !important;
  }

  .hero p {
    width: 65% !important;
    font-size: 15px;
    line-height: 23px;
    margin-top: 15px;
  }

#txtTop2{
  
  margin-top: 18%;
    font-size: 1em;
  padding-left: 0;
  }

  .menuScroll img{
    width: 30px !important;
    top: unset;
    width: unset;
    left: 0;
  }

  nav {
    height: unset;
    text-align: left;
  }

  nav ul{
    position: unset;
    top: unset;
  }

  nav ul li{
    display: none;
  }

  
  #menu{
    display: block;
   
    position: absolute;
    right: 0;

  }

  #language-selection{
    position: relative;
    height: 30px;
  }

  #language-selection li{
    position: relative;
    margin: 0 10px;
    display: inline-block;
  }

  #language-selection li.selected{
    border-bottom: solid 1px #D5D8E8;
  }

  #language-selection li a{
    position: relative;
    line-height: 30px;
  }

  #mdm-logo{
    width: 100px;
    position: absolute;
    left: 0;
  }

  .container{
    margin: 10px 20px;
    text-align: center;
    padding: unset;
  } 
  .cards .container{
    margin: 0 20px;

  }

  .hero .container{
    text-align: left;
  }

  .hero{
    height: 550px;
    border-bottom: 2px solid #C8D400;
    padding-top: 85px;
  }

  .hero h2{
    font-size: 2.4rem;
  }

  .hero button{
    position: relative;
    margin: 20px 0;
    font-size: 1.4rem;
  }

  .hero button + p{
    position: absolute;
    bottom: 7%;
    width: 70%;
    font-size: 1rem;
    line-height: 20px;
  }

  #astronauta-bg{
    bottom: -10px;
    max-width: 540px;
    width: 90%;
  }

  #predios-bg{
    max-width: 100%;
  }

  ul{
    display: -ms-flexbox;
    display: flex;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  li h3{
    font-size: 1.5rem;
  }

  li p{
    font-size: 1.2rem;
  }

  section.cards .wrapper-content{
    bottom: 0px;
    position: relative;
  }

  section.cards .wrapper-content p{
    float: none;
    text-align: left;
    margin-top: unset;
    margin-bottom: 280px;
    display: inline-block;
  }

  section.cards .wrapper-content .smartphonesImg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
  }

  section.more-infos .wrapper-text{
    text-align: left;
  }

  section.more-infos .macImgUm{
    float: left;
    margin-bottom: 60px;
    width: 47%
  }

  section.more-infos .macImgDois{
    float: left;
    margin-bottom: 60px;
    width: 47%;
  }

  section.more-infos h3 {
    margin-left: unset;
    padding: unset;
    padding-bottom: 20px;
  }

  section.more-infos .wrapper-text{
    width: unset;
  }

  section.more-infos .wrapper-img img{
    position: relative;
    padding-bottom: 20px;
  }

  footer img{
    width: 100px;
  }

}


